SQLALCHEMY_DATABASE_URL=
JWT_SECRET_KEY=

OPENAI_API_KEY=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_FROM=
EMAIL_PASSWORD=
EMAIL_USE_TLS=


GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
GOOGLE_AUTH_URL=
GOOGLE_TOKEN_URL=
GOOGLE_USERINFO_URL=


STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_MONTHLY_PRICE_ID=
STRIPE_YEARLY_PRICE_ID=
STRIPE_WEBHOOK_SECRET=
DOMAIN=


GROQ_API_KEY=
HF_TOKEN=
